@import "../mixins";
@import "../variables";

.loginHeadWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginLogo {
  width: 350px;
  cursor: pointer;
}

.tagline {
  margin-top: -65px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $accent-theme;
}

.loginTitle {
  @include display-flex();
  @include justify-content-center();
  font-size: 17px;
  font-weight: 400;
  margin-top: 8px;
  color: var(--text-body);
  letter-spacing: 0.5px;
}
