@import "variables";
@import "fonts";

* {
  color: $slate-theme;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  margin: 0;
  font-family: $font-family-base;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: $brand-ivory;
  background:
    linear-gradient(to bottom, $brand-champagne 32vh, transparent 32vh),
    linear-gradient(to bottom, transparent 32vh, $brand-ivory 32vh);
}

b,
strong,
button {
  font-weight: 700;
}

::-webkit-input-placeholder {
  text-align: left;
  line-height: normal;
}

:-moz-placeholder {
  text-align: left;
  line-height: normal;
}

::-moz-placeholder {
  text-align: left;
  line-height: normal;
}

:-ms-input-placeholder {
  text-align: left;
  line-height: normal;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}
